[Unit]
Description=Battlesnakes FastAPI
After=network.target network-online.target

[Service]
User=fastapi-user
WorkingDirectory=/home/ubuntu/battle-python
LimitNOFILE=4096
ExecStart=/home/ubuntu/.local/bin/poetry run gunicorn battle_python.main:api
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
