[Unit]
Description=Battlesnakes FastAPI
After=network.target

[Service]
User=root
 # TODO: Sort out this bit
WorkingDirectory=/root/battle-python
LimitNOFILE=4096
 # TODO: Sort out this bit
ExecStart=/usr/local/bin/poetry run gunicorn main:app --workers 2 -k uvicorn.workers.UvicornWorker --bind unix:appname.sock --error-logfile /root/appname/error_log.txt
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
